<div class="bg-[{{bgColor}}] rounded">
  <!--<p class="font-semibold uppercase">{{securite.name}}</p>-->
  <div class="flex flex-col justify-center items-center">
    <table class="table-auto text-lg w-full">
      <thead>
      <tr>
        <th class="w-80"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let n of securite.data">
        <td>{{n.text}}</td>
        <td class="capitalize font-semibold text-center">{{n.objectif}}</td>
        <td class="text-center">{{n.val1}}</td>
        <td class="text-center">{{n.val2}}</td>
        <td class="text-center">{{n.val3}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
